#App {
  font-style: 'SF Pro Display';
  background-color: white;
}

/******** special calls ******/

.perfectCentering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexSpaceBetweenFirstBaseeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

.borderlessTransparentBtn {
  background-color: transparent;
  border: 0px;
}


/************ blurred background  overlay ***********/
#BluredBackgroundOverlay {
  cursor: pointer;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 1;
  opacity: .9;
  background-color: black;
  animation-name: BluredBackgroundOverlay;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  top: 44px;
}

@keyframes BluredBackgroundOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: .8;
  }
}

#statusFloatingModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 80vw;
  max-width: 320px;
  padding: 15px;
  border-radius: 10px;
}



/************** test *************/


#statusFloatingText {
  color: white;
  margin-top: 200px;
  padding: 2px 30px 5px 30px;
  border-radius: 20px;

}




#statusFloatingLogo {
  max-height: 80px;
  max-width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: statusFloatingLogo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes statusFloatingLogo {
  from {
    box-shadow: 10px -10px 5px #00A3B7;
    max-height: 50px;
    max-width: 50px;
  }

  to {
    box-shadow: -10px 10px 5px #00A3B7;
    max-height: 80px;
    max-width: 80px;

  }

}



/**************** onboarding ****************/
#onboardingBg {
  height: 100vh;
  width: 100vw;
  animation-name: onboardingBg;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

@keyframes onboardingBg {
  from {
    height: 80vh;
    width: 80vw;
  }

  to {
    height: 100vh;
    width: 100vw;
  }
}

#onboarding {
  background-color: #00A3B7;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;

}

#onboardingLogo {
  position: absolute;
  top: 20px;
  right: 10px;
  max-width: 50px;
}

#shortOnboadingText {
  color: white;
  font-weight: 600;
}

#OnboardingLoginBtn {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: white;
  font-size: 12px;
  background-color: #0390A3;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
  max-width: 360px;
}

#shortOnboadingText {
  font-weight: 700;
  font-size: 27px;
  text-shadow: 0px 0px 20px rgb(85, 85, 85);

}

#fadingShortOnboadingText {
  font-weight: 700;
  font-size: 27px;
  color: white;
  text-shadow: 0px 0px 20px rgb(219, 219, 219);
  animation-name: fadingShortOnboadingText;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadingShortOnboadingText {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -80px);
    opacity: 0;
  }
}

.onboardingLinks {
  background-color: transparent;
  border: 0px;
  color: white;
  margin-right: 30px;
  text-shadow: 0px 10px 20px rgb(0, 0, 0);
}



/********************** login page  *******************/


#LoginNavBG,
#CreatAccountNavBg {
  height: 16px;
  width: 100vw;
  background-color: #047E8E;
}

#MainLoginNav,
#MainCreateAccountNav {
  height: 60px;
  width: 100vw;
  background-color: #00A3B7;
  border-radius: 10px;
  position: relative;
  top: 4px;
}

#LoginNavPrevBtn,
#CreateAccountNavPrevBtn {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#loginNavLogo,
#createAccountNavLogo {
  max-height: 100%;
}

#logInPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#loginInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6F6F6F;
  margin-bottom: 30px;
  outline-color: #00A3B7;
}

#loginInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidLoginInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #EC0303;
  outline-color: #EC0303;
}

#invalidLoginInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidInputTextWarning {

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  color: #EC0303;
  font-size: 12px;
}



#LoginForgotPasswordBtn {
  background-color: transparent;
  color: #EC0303;
  font-size: 14px;
  border: 0px;
  font-weight: 600;
  text-decoration: underline;
}

#touchIdLoginBtn {
  background-color: transparent;
  border: 0px;
  font-weight: 600;
  margin-top: 40px;
}

#loginButton {
  background-color: #0390A3;
  width: 80vw;
  max-width: 360px;
  padding: 7px;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/********* touch id Modal ************/

#touchIdModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 280px;
  width: 80vw;
  max-width: 320px;
  box-shadow: 0px 0px 20px rgb(125, 125, 125);
  padding: 15px;
}

#touchIdFingerPrintIcon {
  max-height: 50px;
  margin-right: 15px;
}

#TouchIdModalCancelBtn {
  background-color: transparent;
  border: 0px;
  font-size: 12px;
  opacity: .8;
}



/************ sig up page **********/

#createAccountPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#signupInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6F6F6F;
  margin-bottom: 30px;
  outline-color: #00A3B7;
}

#signupInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidSignupInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #EC0303;
  outline-color: #EC0303;
}

#invalidSignupInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidSignupInputAndWarningText {
  margin-bottom: 30px;
}

#signUpButton {
  background-color: #0390A3;
  width: 80vw;
  padding: 7px;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
}




/************** main nav ************/

#mainNav {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

#activeMainNavBtn {
  width: 25%;
  max-width: 125px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00A3B7;
  border: 0px;
  background-color: transparent;
}

#inActiveMainNavBtn {
  width: 25%;
  max-width: 125px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: .4;
  border: 0px;
  background-color: transparent;
}

#mainNavBtnIcon {
  font-size: 18px;
}

#mainNavBtnText {
  font-size: 14px;
  font-weight: 600;
}



/************* home page ************/

#home {
  padding: 0px 10px 75px 10px;

}

#HomeNav {
  padding: 5px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: white;
}

#HomepageWelcomeMessage {
  font-weight: 600;
  font-size: 15px;
  color: black;


}

#homeSearchBar {
  margin-top: 60px;
  border: 1px solid #0390A3;
  padding: 0px 10px 2px 10px;
  border-radius: 6px;
  width: 75vw;
  max-width: 500px;
}

#homeSearchInput {
  width: 65vw;
  max-width: 500px;
  border: 0px;
  padding: 5px;
outline: none;
  font-size: 13px;
  height: 34px;
}


#homeSearchInput::placeholder {
  font-size: 12px;
  opacity: .8;

}

#columnTitleContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

}

#columnTitle {
  font-size: 16px;

}

#columnViewAllBtn {
  border: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #00A3B7;
  font-size: 12px;

}

#columnViewAllIcon {
  color: #0390A3;
  font-size: 25px;
  margin-bottom: 5px
}

#quickLinks {
  background-color: #00A3B7;
  height: 60px;
  width: 86px;
  border: 0px;
  border-radius: 10px;
  margin-right: 8px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#quickLinkImg {
  width: 60px;

}


#homePageAd {
  height: 177px;
  width: 100%;
  background-color: #EFF5FB;
  border-radius: 10px;
  border: 1px solid #00A3B7;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
}

#homePageAdImg {
  position: relative;
  right: -10px;
  max-width: 120px;
}

#homepageAdTitle {
  opacity: .9;
}

#homepageAdContent {
  font-size: 11px;
  list-style: none;
}

#specialistNearMe {
  overflow: hidden;

}

#eachSpeacialistNearMe {
  background-color: #D2DEFF;
  border: 1px solid #0390A3;
  height: 150px;
  width: 108px;
  border-radius: 5px;
  margin-right: 3px;
  margin-left: 3px;
}

#SpeacialistNearMeImgContainer {
  width: 105px;
  height: 58%;
  background-color: #EBEBED;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#SpeacialistNearMeImg {
  max-height: 100%;
  mix-blend-mode: darken;
}