#App {
  font-family: 'SF Pro Display', sans-serif;
  background-color: white;
  width: 100%;
  overflow: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#App::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

/******** special calls ******/

.perfectCentering {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flexCenter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.flexStart {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.flexColumnCenter {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnStart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexColumnSpaceBetween {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.flexSpaceBetween {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.flexSpaceBetweenFirstBaseeline {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: first baseline;
}

.borderlessTransparentBtn {
  background-color: transparent;
  border: 0px;
}

.listStyleNone {
  list-style: none;
}


/********************* random elements ************************/

/***************** general elements *****************/
#ge1 {
  padding: 0px 10px 120px 10px;
}

#ge2 {
  cursor: pointer;
  height: 44px;
  width: 100vw;
  position: fixed;
  top: 0;
  opacity: .9;
  background-color: black;
  animation-name: ge2;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-direction: normal;

}

@keyframes ge2 {
  from {
    opacity: 0;
  }

  to {
    opacity: .9;
  }
}

#ge3 {
  margin-top: 70px;
  padding: 0px 10px 70px 10px;
  width: 100%;
  max-width: 500px;
}
#ge4 {
  margin-top: 70px;
  padding: 0px 10px 0px 10px;
  width: 100%;
  max-width: 500px;
}

/********************* homepage random element ************************/
#hmre1 {
  height: 28px;
  font-size: 18px
}

#hmre2 {
  font-size: 20px;
  opacity: .5
}

#hmre3 {
  font-weight: 500;
  font-size: 24px;
  list-style: none
}

#hmre4 {
  list-style: none;
  font-size: 11px;
  margin-bottom: 10px
}

#hmre5 {
  list-style: none;
  font-size: 12px;
  margin-bottom: 3px;
}

#hmre6 {
  list-style: none;
  font-size: 10px;
  margin-bottom: 3px
}

#hmre7 {
  list-style: none;
  font-size: 10px;
  margin-bottom: 3px;
  max-height: 55px;
  max-width: 65px;
  border-radius: 5px;
  overflow: hidden;
  margin-right: 10px;
}

#hmre8 {
  max-width: 105%;

}

#hmre9 {
  list-style: none;
  font-size: 11px;
  font-weight: 400
}

#hmre10 {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: #0390A3
}

#hmre11 {
  list-style: none;
  font-size: 11px;
  font-weight: 400
}

#hmre12 {
  font-size: 15px;
  margin-right: 5px
}

#hmre13 {
  font-size: 15px;
  margin-left: 10px;
  color: #0390A3
}

#hmre14 {
  color: #0390A3;
  font-size: 25px;
  list-style: none
}

#hmre15 {
  padding: 1px 4px 1px 4px
}

#hmre16 {
  font-size: 11px;
  list-style: none
}

#hmre17 {
  font-size: 8px;
  list-style: none
}

#hmre18 {
  font-size: 8px;
  list-style: none;
  margin-top: 3px
}

#hmre19 {
  color: #FFCC00;
  font-size: 12px
}

#hmre20 {
  position: relative;
  right: 1px;
  top: 38px
}

#hmre21 {
  list-style: none;
  font-size: 18px
}

#hmre22 {
  font-size: 10px;
  opacity: .8;
  width: 90px;
  height: 15px;
  word-break: break-all;
  overflow: hidden
}

#hmre23 {
  font-size: 10px;
}

#hmre24 {
  font-size: 10px;
  list-style: none;
  opacity: .8
}

#hmre25 {
  font-size: 10px;
  list-style: none;
  opacity: .8
}

#hmre26 {
  width: 100%;
  max-width: 500px;
}

/********************* onboarding random element ************************/

#onre1 {
  position: absolute;
  bottom: 150px;
  padding: 10px
}

#onre2 {
  color: #00E1FF
}

#onre3 {
  background-color: black;
  color: white;
  padding: 2px 10px 7px 10px;
  border-radius: 100%;
  border: 0px;
  font-size: 23px
}

#onre4 {
  position: absolute;
  bottom: 4px;
  padding: 15px
}

#onre5 {
  width: 90vw;
  font-size: 14px
}

/************* login page random element ***************/
#lpre1 {
  width: 85vw;
  max-width: 360px
}

#lpre2 {
  font-size: 14px;
  font-weight: 600
}

#lpre3 {
  background-color: transparent;
  color: #0390A3;
  border: 0px
}

#lpre4 {
  width: 80%;
  height: 75%
}

#lpre5 {
  font-size: 14px
}

/************* signup page random element ***************/
#spre1 {
  font-size: 14px;
  font-weight: 600
}

#spre2 {
  background-color: transparent;
  color: #0390A3;
  border: 0px
}

/************* appointment navbar random elements ***************/
#apre1 {
  padding: 10px 3vw 10px 3vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: white;


}

#apre2 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 30px;
  margin-bottom: 30px;
}


#apre3 {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#apre4 {
  max-height: 100%;
}

#apre5 {
  line-height: 20px;
}

#apre6 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

#apre7 {
  background-color: #F0F0F0;
  height: 60px;
  width: 100%;
  margin-top: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 3%;
}

#apre8 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#apre9 {
  font-size: 13px;
  font-weight: 500;
  color: #333333;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#apre10 {
  margin-right: 5px;
  font-size: 20px;
  padding-bottom: 5px;
}

#apre11 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}

#apre12 {
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  border: .5px solid #0390A3;
  border-radius: 20px;
  color: #5D5D5D;
}

#apre13 {
  padding: 15px 30px 15px 30px;
  font-size: 15px;
  font-weight: 400;
  background-color: #0390A3;
  line-height: 18px;
  letter-spacing: 0em;
  border: 0px;
  text-align: left;
  border-radius: 20px;
  color: white;

}

#apre14 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

#apre15 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;

}

#apre16 {
  border: 0px;
  background-color: transparent;
  color: #00A3B7;
  font-size: 30px;
}

#apre17 {
  border: 0px;
  background-color: transparent;
  color: rgb(200, 0, 0);
  font-size: 30px;
}

#apre18 {
  animation-name: apre18;
  animation-iteration-count: 1;
  animation-duration: .7s;

}

@keyframes apre18 {
  from {
    transform: translate(0, -100%);
  }

  to {
    transform: translate(0, 0);
  }
}

/************ specialist random element ***********/
#spere1 {
  height: 180px;
  width: 100%;
  background-color: #0893A5;
  padding: 20px 3vw 10px 3vw;
}

#spere2 {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 20px;
  margin-right: 25px;
}

#spere3 {
  color: white;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

#spere4 {
  background-color: white;
  height: 124px;
  width: 80vw;
  max-width: 400px;
  border-radius: 10px;
  position: relative;
  top: 60px;
  border: 1px solid #0893A5;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 4% 10px 4%;
}

#spre5 {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

}

#spre6 {
  height: 100%;
  width: 40%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#spre7 {
  max-height: 100%;
}

#spre8 {

  font-size: 21px;
  font-weight: 500;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
}

#spre9 {
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  width: 100%;
}

#spre10 {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#spre11 {
  padding: 20px 3vw 10px 3vw;
  width: 100%;
  max-width: 500px;
  margin-top: 40px;
}

#spre12 {
  width: 31%;
  height: 33vw;
  max-height: 127px;
  margin-right: 3%;
  background-color: #D9D9D9;
  border-radius: 10px;
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-shrink: 0;
}

#spre13 {
  color: #5D5D5D;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: left;
}

#spre14 {
  background-color: #0893A5;
  padding-top: 10px;
  padding-bottom: 10px;
}

#spre15 {
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
}

#spre16 {
  margin-top: 30px;
}

#spre17 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

#spre18 {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

#spre19 {
  margin-top: 40px;
}

#spre20 {
  background-color: transparent;
  border: 0px;
  color: #0390A3;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

#spre21 {
  height: 460px;
  margin-top: 30px;
  animation-name: loadingBgAnimation;
  animation-duration: 1s;
  animation-iteration-count: infinite;

}

@keyframes loadingBgAnimation {
  10% {
    background: linear-gradient(30deg, rgb(237, 237, 237), white, white, white, white, white, white, white,
        white);
  }

  20% {
    background: linear-gradient(30deg, white, rgb(237, 237, 237), white, white, white, white, white, white,
        white);
  }

  30% {
    background: linear-gradient(30deg, white, white, rgb(237, 237, 237), white, white, white, white, white,
        white);
  }

  40% {
    background: linear-gradient(30deg, white, white, white, rgb(237, 237, 237), white, white, white, white,
        white);
  }

  50% {
    background: linear-gradient(30deg, white, white, white, white, rgb(237, 237, 237), white, white, white,
        white);
  }

  60% {
    background: linear-gradient(30deg, white, white, white, white, white, rgb(237, 237, 237), white, white,
        white);
  }

  70% {
    background: linear-gradient(30deg, white, white, white, white, white, white, rgb(237, 237, 237), white,
        white);
  }

  80% {
    background: linear-gradient(30deg, white, white, white, white, white, white, white,
        rgb(237, 237, 237),
        white, );
  }

  90% {
    background: linear-gradient(30deg, white, white, white, white, white, white, white,
        white, rgb(237, 237, 237));
  }

  100% {
    background: linear-gradient(30deg, white, white, white, white, white, white, white,
        white, white);
  }
}

#spre22 {
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #0390A3;
  border: 0px;
  color: white;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  margin-top: 30px;
}

/***************** mere ***************************/
#mere1 {
  background-color: white;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}

#mere2 {
  background-color: transparent;
  border: 0px;
  color: #0893A5;
  font-size: 20px;
  margin-right: 25px;
  padding: 0px;
}

#mere3 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #0893A5;
  list-style: none;
}

#mere4 {
  background-color: transparent;
  border: 0px;
  color: #0893A5;
  font-size: 24px;
  padding: 0px;
}

#mere5 {
  width: 100%;
  max-width: 500px;
  height: 84px;
  border: 1px solid rgba(3, 144, 163, 1);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 15px;
}

#mere6 {
  list-style: none;
  font-size: 10px;
  background-color: rgba(3, 144, 163, 0.35);
  height: 60px;
  width: 70px;
  border-radius: 10px;
  margin-bottom: 3px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  overflow: hidden;
}

#mere7 {
  max-height: 120%;
}

#mere8 {
  list-style: none;
  font-size: 11px;
  font-weight: 400
}

#mere9 {
  list-style: none;
  font-size: 16px;
  font-weight: 500;
  color: rgba(51, 51, 51, 1);
}

#mere10 {
  list-style: none;
  font-size: 11px;
  font-weight: 400;
  color: rgba(3, 144, 163, 1);
}

#mere11 {
  font-size: 15px;
  margin-right: 5px
}

#mere12 {
  font-size: 15px;
  list-style: none;
  color: #0390A3
}

#mere13 {
  color: #0390A3;
  font-size: 25px;
  list-style: none
}



#mere15 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
}

#mere16 {
  width: 238px;
  height: 38px;
  border: 0px;
  background-color: rgba(3, 144, 163, 1);
  position: fixed;
  bottom: 10px;
  border-radius: 5px;
  color: white;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}

#mere17 {
  height: 76px;
  width: 93px;
  background-color: rgba(3, 144, 163, 0.35);
  border-radius: 8px;
  box-shadow: 0px 1px 2px rgba(3, 144, 163, 0.35) -1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  overflow: hidden;
}

#mere18 {
  max-width: 120%;

}

.CircularProgressbar-path {
  stroke: red;
}

.CircularProgressbar-trail {
  stroke: gray;
}

.CircularProgressbar-text {
  fill: yellow;
}

.CircularProgressbar-background {
  fill: green;
}


#mere20 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

#mere21 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

#mere22 {
  padding: 7px 10px 7px 10px;
  border-radius: 6px;
  gap: 2px;
  background-color: #0390A3;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100px;
}

#mere23 {
  font-size: 20px;
  color: white;
  margin-right: 5px;
}

#mere24 {
  font-size: 15px;
  color: white;
}

#mere25 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-top: 20px;
}

#mere26 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

#mere27 {
  font-family: SF Pro Display;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #00A3B7;
}

#mere28 {
  width: 238px;
  height: 38px;
  padding: 10px, 20px, 10px, 20px;
  border-radius: 6px;
  gap: 10px;
  background-color: #00A3B7;
  border: transparent;
  color: white;
}

#mere29 {
  margin-top: 100px;
}

#mere30 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-top: 20px;
  margin-bottom: 20px;
}

#mere31 {
  border: 0px;
  border-bottom: 1px solid rgba(93, 93, 93, 0.35);
  width: 100%;
  outline: none;
  margin-bottom: 10px;
}

#mere31:focus {
  border-bottom: 2px solid #333333;
}

#mere31::placeholder {
  color: rgba(93, 93, 93, 0.35);

}

#mere32 {
  width: 0px;
  height: 0px;
}

#mere33 {
  border: 0px;
  background-color: #00A3B7;
  color: white;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
}

#mere34 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(93, 93, 93, 0.65);
  margin-top: 20px;
  margin-bottom: 20px;
}

#mere35 {
  border: 1px solid #00A3B7;
  background-color: transparent;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  outline: 1px solid #00A3B7;
  margin-bottom: 20px;
  margin-top: 20px;
}

#mere36 {
  width: 100%;
  overflow: auto;
}

#mere37 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: left;
}

#mere38 {
  border: 1px solid #00A3B7;
  background-color: transparent;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  outline: 1px solid #00A3B7;
  margin-bottom: 20px;
  margin-top: 20px;
}

#mere39 {
  width: 55px;
  height: 49px;
  border-radius: 8px;
  background-color: #00A3B7;
  color: white;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  border: 1px solid #00A3B7;
  font-size: 13px;
}

#mere40 {
  margin-left: 20px;
  margin-right: 20px;
  list-style: none;
  font-size: 13px;
  font-weight: 500;
}

#mere41 {
  width: 55px;
  height: 49px;
  border-radius: 8px;
  background-color: transparent;
  color: #00A3B7;
  font-family: SF Pro Display;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0em;
  border: 1px solid #00A3B7;
  font-size: 13px;
}

#mere42 {
  border: 0px;
  background-color: #00A3B7;
  color: white;
  border-radius: 5px;
  padding: 7px 15px 7px 15px;
  cursor: auto;
}

#mere43 {
  border: 1px solid #00A3B7;
  background-color: transparent;
  padding: 7px 15px 7px 15px;
  border-radius: 5px;
  outline: 1px solid #00A3B7;
  margin-bottom: 20px;
  margin-top: 20px;
}

#mere44 {
  border: 0px;
  border-bottom: 1px solid red;
  width: 100%;
  outline: none;
}

#mere44:focus {
  border-bottom: 2px solid red;
}

#mere44::placeholder {
  color: rgba(93, 93, 93, 0.35);

}

#mere45 {
  color: red;
  list-style: none;
  font-size: 14px;
  margin-top: 5px;
}


/******************** rere *****************/
#rere1 {
  background-color: white;
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px 10px 0px;
}


#rere2 {
  background-color: transparent;
  border: 0px;
  color: #0893A5;
  font-size: 20px;
  margin-right: 25px;
  padding: 0px;
}

#rere3 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  color: #0893A5;
  list-style: none;
}

#rere4 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 3;
}

#rere5 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;

}

#rere6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 20px;
  margin-bottom: 20px;
  border: transparent;
  background-color: transparent;
  padding: 0px;
}

#rere7 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  margin-bottom: 3px;
}

#rere8 {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #dfdfdf;
  list-style: none;
  flex-shrink: 0;
  font-family: ' SF Pro Display';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: black;

}

#rere9 {
  font-family: ' SF Pro Display';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
}

#rere10 {
  flex-wrap: wrap;
}

#rere11 {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #020000;
  list-style: none;
  flex-shrink: 0;
  font-family: ' SF Pro Display';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: white;
}

#rere12 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

#rere13 {
  flex-shrink: 0;
  width: 149px;
  min-height: 159px;
  background-color: #0390A3;
  border-radius: 10px;
  padding: 10px;
  color: white;
}

#rere14 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

#rere15 {
  list-style: none;
  font-size: 24px;
}

#rere16 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}

#rere17 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100px;

}

#rere18 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

#rere19 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

#rere20 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 159px;
  padding: 5px 5px 5px 20px;

}

#rere21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 33px;
  width: 100%;


}

#rere22 {
  height: 35px;
  width: 35px;
}

#rere23 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
}

#rere24 {
  list-style: none;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

#rere25 {
  margin-left: 10px;
}

#rere26 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 11px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  list-style: none;
}

#rere27 {
  height: 87px;
  width: 100%;
  border: 1px solid #0390A3;
  border-radius: 6px;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#rere28 {
  list-style: none;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
}

#rere29 {
  list-style: none;
  font-size: 17.5px;
  color: #00C2FF;
}

#rere30 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;

  list-style: none;
}

#rere31 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 8px;
  font-weight: 400;
  line-height: 10px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
}

#rere32 {
  background-color: #C9C5C5;
  width: 100%;
  height: 3px;
}

#rere33 {
  background-color: #00C2FF;
  height: 3px;
}

#rere34 {
  width: 100%;
}

#rere35 {
  background-color: #FF6B00;
  height: 3px;
}

#rere36 {
  border: 1px solid rgba(3, 144, 163, 0.35);
  height: 119px;
  width: 100%;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#rere37 {
  background-color: #00A3B9;
  height: 99px;
  width: 83px;
  border-radius: 5px;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 8px 0px 8px 0px;

}

#rere38 {
  background-color: #00A3B9;
  height: 99px;
  width: 99px;
  border-radius: 5px;
  margin-right: 10px;
  margin-left: 10px;
  color: white;
    display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

}

#rere39 {
  list-style: none;
  font-size: 17.5px;
  color: #FF6B00;
}

#rere40 {
  font-size: 24px;
  list-style: none;
  width: 100%;
  text-align: center;

}

#rere41 {
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: center;
  list-style: none;
  width: 100%;

}

#rere42 {
  font-size: 12px;
  font-weight: 500;
  line-height: 14px;
  letter-spacing: 0em;
  text-align: center;
  list-style: none;
  width: 100%;
}

#rere43 {
  font-family: ' SF Pro Display', sans-serif;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
}

#rere44 {
  width: 100%;
  max-width: 500px;
  height: 140px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

}

#rere45 {
  flex-shrink: 0;
  width: 10%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  padding: 0px;
}

#rere46 {
  flex-shrink: 0;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-left: 5px;
}

#rere47 {
  list-style: none;
  font-family: 'SF Pro Display', sans-serif;
  font-size: 13px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0em;
  text-align: left;
  color: #333333;
  margin-top: 10px;
}

#rere48 {
  width: 100%;
  height: 13px;
  line-height: 13px;
  list-style: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

#rere49 {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  background-color: #5D5D5D;
}

#rere50 {
  width: 100%;
  height: 10px;
  line-height: 10px;
  list-style: none;
  flex-shrink: 0;
  display: flex;
  flex-direction: center;
  align-items: center;
  justify-content: center;
}

#rere51 {
  flex-shrink: 0;
  width: 100%;
  height: 1px;
  background-color: #5D5D5D;
}

#rere52 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  max-width: 450px;
  margin-left: 10%;
  position: relative;
  top: -140px;

}

#rere53 {
  height: 140px;
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
}

#rere54 {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#rere55 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-right: 3.5%;
  border: transparent;
  background-color: transparent;
  padding: 0px;
  width: 30px;
}

#rere56 {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #020000;
  list-style: none;
  flex-shrink: 0;
  font-family: ' SF Pro Display';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: white;
}

#rere57 {
  font-family: 'SF Pro Display', sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  text-align: left;
  list-style: none;
  margin-bottom: 3px;
}

#rere58 {
  width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: #dfdfdf;
  list-style: none;
  flex-shrink: 0;
  font-family: ' SF Pro Display';
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0em;
  color: black;

}

#rere59 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 90%;
}

#rere60 {
  width: 30px;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  margin-right:3.5%;
}

#rere61 {
  list-style: none;
  background-color: #9AA8AA;
  width: 6px;
  height: 80%;
  border-radius: 5px;

}

#test {
  background-color: brown;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#test2 {
  background-color: blue;
  position: relative;
  top: -70%;
  height: 70%;
  width: 10px;
  z-index: 3;
}

/* 
entirechat : width:100%, max-width:382px,height:140px
indicators width:10% height:100% 
mainbar width :90% height:100% */


/************  background  overlay ***********/
#BluredBackgroundOverlay {
  cursor: pointer;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 1;
  opacity: .9;
  background-color: black;
  animation-name: BluredBackgroundOverlay;
  animation-duration: .4s;
  animation-iteration-count: 1;
  animation-direction: normal;
  top: 44px;
}

@keyframes BluredBackgroundOverlay {
  from {
    opacity: 0;
  }

  to {
    opacity: .9;
  }
}

#statusFloatingModal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 280px;
  width: 80vw;
  max-width: 320px;
  padding: 15px;
  border-radius: 10px;
}



/************** test *************/


#statusFloatingText {
  color: white;
  margin-top: 200px;
  padding: 2px 30px 5px 30px;
  border-radius: 20px;

}




#statusFloatingLogo {
  max-height: 80px;
  max-width: 80px;
  border-radius: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation-name: statusFloatingLogo;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes statusFloatingLogo {
  from {
    box-shadow: 10px -10px 5px #00A3B7;
    max-height: 50px;
    max-width: 50px;
  }

  to {
    box-shadow: -10px 10px 5px #00A3B7;
    max-height: 80px;
    max-width: 80px;

  }

}



/**************** onboarding ****************/
#onboardingBg {
  height: 100vh;
  width: 100vw;
  animation-name: onboardingBg;
  animation-duration: 1s;
  animation-iteration-count: 1;
}

#onlg {
  display: block;
}

#onSm {
  display: none;
}

@keyframes onboardingBg {
  from {
    transform: translate(-10vw, -10vh);
  }

  to {
    transform: translate(0px, 0px);
  }
}

#onboarding {
  background-color: #00A3B7;
  background-size: cover;
  min-height: 100vh;
  width: 100vw;

}

#onboardingLogo {
  position: absolute;
  top: 20px;
  right: 10px;
  max-width: 50px;
}

#shortOnboadingText {
  color: white;
  font-weight: 600;
}

#OnboardingLoginBtn {
  width: 90vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  color: white;
  font-size: 12px;
  background-color: #0390A3;
  border-radius: 5px;
  border: 0px;
  margin-bottom: 20px;
  max-width: 360px;
}

#shortOnboadingText {
  font-weight: 700;
  font-size: 27px;
  text-shadow: 0px 0px 20px rgb(85, 85, 85);

}

#fadingShortOnboadingText {
  font-weight: 700;
  font-size: 27px;
  color: white;
  text-shadow: 0px 0px 20px rgb(219, 219, 219);
  animation-name: fadingShortOnboadingText;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

@keyframes fadingShortOnboadingText {
  from {
    transform: translate(0px, 0px);
  }

  to {
    transform: translate(0px, -80px);
    opacity: 0;
  }
}

.onboardingLinks {
  background-color: transparent;
  border: 0px;
  color: white;
  margin-right: 30px;
  text-shadow: 0px 10px 20px rgb(0, 0, 0);
}



/********************** login page  *******************/


#LoginNavBG,
#CreatAccountNavBg {
  height: 16px;
  width: 100vw;
  background-color: #047E8E;
}

#MainLoginNav,
#MainCreateAccountNav {
  height: 60px;
  width: 100vw;
  background-color: #00A3B7;
  border-radius: 10px;
  position: relative;
  top: 4px;
}

#LoginNavPrevBtn,
#CreateAccountNavPrevBtn {
  background-color: transparent;
  border: 0px;
  color: white;
  font-size: 20px;
  margin-bottom: 10px;
  margin-right: 5px;
}

#loginNavWelcomeMessage,
#signupNavWelcomeMessage {
  color: white;
  font-size: 23px
}

#loginNavLogo,
#createAccountNavLogo {
  max-height: 100%;
}

#logInPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#loginInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6F6F6F;
  margin-bottom: 30px;
  outline-color: #00A3B7;
}

#loginInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidLoginInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #EC0303;
  outline-color: #EC0303;
}

#invalidLoginInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidInputTextWarning {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 85vw;
  max-width: 360px;
  color: #EC0303;
  font-size: 12px;
}



#LoginForgotPasswordBtn {
  background-color: transparent;
  color: #EC0303;
  font-size: 14px;
  border: 0px;
  font-weight: 600;
  text-decoration: underline;
}

#touchIdLoginBtn {
  background-color: transparent;
  border: 0px;
  font-weight: 600;
  margin-top: 40px;
}

#loginButton {
  background-color: #0390A3;
  width: 80vw;
  max-width: 360px;
  padding: 7px;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
}

/********* touch id Modal ************/

#touchIdModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  height: 280px;
  width: 80vw;
  max-width: 320px;
  box-shadow: 0px 0px 20px rgb(125, 125, 125);
  padding: 15px;
}

#touchIdFingerPrintIcon {
  max-height: 50px;
  margin-right: 15px;
}

#TouchIdModalCancelBtn {
  background-color: transparent;
  border: 0px;
  font-size: 12px;
  opacity: .8;
}



/************ sig up page **********/

#createAccountPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

#signupInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #6F6F6F;
  margin-bottom: 30px;
  outline-color: #00A3B7;
}

#signupInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidSignupInput {
  width: 85vw;
  max-width: 360px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #EC0303;
  outline-color: #EC0303;
}

#invalidSignupInput::placeholder {
  color: black;
  opacity: .7;
  font-size: 12px;

}

#invalidSignupInputAndWarningText {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;

}

#signUpButton {
  background-color: #0390A3;
  width: 80vw;
  padding: 7px;
  color: white;
  border: 0px;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 30px;
}




/************** main nav ************/

#mainNav {
  background-color: #FFFFFF;
  padding-bottom: 20px;
}

#activeMainNavBtn {
  width: 25%;
  max-width: 125px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00A3B7;
  border: 0px;
  background-color: transparent;
}

#inActiveMainNavBtn {
  width: 25%;
  max-width: 125px;
  height: 45px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  opacity: .4;
  border: 0px;
  background-color: transparent;
}

#mainNavBtnIcon {
  font-size: 18px;
}

#mainNavBtnText {
  font-size: 14px;
  font-weight: 600;
}



/************* home page ************/

#home {
  padding: 0px 10px 120px 10px;
  font-family: 'SF Pro Display', sans-serif;
}

#HomeNav {
  padding: 5px 15px 0px 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 35px;
  background-color: white;
}

#HomepageWelcomeMessage {
  font-weight: 600;
  font-size: 15px;
  color: black;


}

#homeNavProfileImg {
  max-height: 28px;
  margin-right: 8px
}

#homeSearchBar {
  margin-top: 60px;
  border: 1px solid #0390A3;
  padding: 0px 10px 2px 10px;
  border-radius: 6px;
  width: 75vw;
  max-width: 500px;
}

#homeSearchInput {
  width: 65vw;
  max-width: 500px;
  border: 0px;
  padding: 5px;
  outline: none;
  font-size: 13px;
  height: 34px;
}


#homeSearchInput::placeholder {
  font-size: 12px;
  opacity: .8;

}

#columnTitleContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
}

#columnTitle {
  font-size: 16px;


}

#columnViewAllBtn {
  border: 0px;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #00A3B7;
  font-size: 12px;

}

#columnViewAllIcon {
  color: #0390A3;
  font-size: 25px;
  margin-bottom: 5px
}

#homepageCarouselContainer {
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin-top: 20px;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  border-radius: 5px;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#homepageCarouselContainer::-webkit-scrollbar {
  display: none;

}



#eachhomepageCarousel {
  height: 142px;
  width: 97%;
  max-width: 500px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 5px;
  flex-shrink: 0;
  padding: 5px 10px 0px 10px;
  font-style: 'Neue Montreal';
  background-color: #95ccd3;
  background-size: 200px;
  background-repeat: no-repeat;
  background-position: right;
  background-blend-mode: soft-light;

}


#homepageCarouselReadMoreBtn {

  background-color: white;
  border: 0px;
  border-radius: 5px;
  font-size: 15px;
  font-weight: 500;
  color: #0390A3;
  padding: 5px;
}

#homepageCarouselTitle {
  font-size: 28px;
  font-weight: 500;
  list-style: none;

}

#homepageCarouselContent {
  font-size: 11px;
  font-weight: 400;
  list-style: none;
  text-shadow: 2px 2px 20px white;
}

#carouselIndicator {
  margin-top: 10px;
}

#activeCarouselIndicator {
  width: 25px;
  height: 6px;
  border-radius: 8px;
  background-color: #00A3B7;
  list-style: none;
  margin: 5px;
}

#inActiveCarouselIndicator {
  width: 6px;
  height: 6px;
  background-color: white;
  list-style: none;
  border-radius: 8px;
  border: 1px solid #00A3B7;
  margin: 5px;
}

#carouselIndicator {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}



#specialistNearMe {
  overflow: auto;
  width: 100%;
  -ms-overflow-style: none;
  scrollbar-width: none;
  max-width: 500px;
}

#specialistNearMe::-webkit-scrollbar {
  display: none;

}

#eachSpeacialistNearMe {
  background-color: #D2DEFF;
  border: 1px solid #0390A3;
  height: 43vw;
  width: 30vw;
  max-width: 150px;
  max-height: 200px;
  border-radius: 10px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  flex-shrink: 0;
  overflow: hidden;
}

#SpeacialistNearMeImgContainer {
  width: 100%;
  height: 58%;
  background-color: #EBEBED;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

#SpeacialistNearMeImg {
  max-height: 110%;

  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

#latestUpComingAppointment {
  background-color: #00A3B7;
  color: white;
  width: 147px;
  height: 170px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px 2px 10px 10px;
  flex-shrink: 0;
  margin-right: 4px;

}

#UpComingAppointment {
  background-color: #E9E9F5;
  color: black;
  width: 147px;
  height: 170px;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 10px 2px 10px 10px;
  flex-shrink: 0;
  margin-left: 4px;
  margin-right: 4px;
  overflow: hidden;

}

#upComingAppointmentContainer {
  width: 100%;
  overflow-x: auto;
  max-width: 500px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#upComingAppointmentContainer::-webkit-scrollbar {
  display: none;
}

#medicationReminderContainer {
  width: 100%;
  max-width: 500px;
  height: 84px;
  border: 1px solid #00A3B7;
  border-radius: 10px;
  padding: 10px;
}


#homepageTrendingArticleContainer {

  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  overflow-x: auto;
  padding: 10px 0px 10px 0px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#homepageTrendingArticleContainer::-webkit-scrollbar {
  display: none;

}

#eachHomepageTrendingArticle {
  height: 245px;
  width: 220px;
  background-color: #0893A5;
  border-radius: 10px;
  flex-shrink: 0;
  margin-right: 15px;

}

#homepageTrendingArticleImgContainer {
  width: 100%;
  height: 144px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #076b78;
  overflow: hidden;
}

#homepageTrendingArticleImg {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  max-width: 300px;
  object-fit: fill;
}

#homepageTrendingArticleTitle {
  font-size: 13px;
  font-weight: 400;
  list-style: none;
  height: 60px;
  overflow: hidden
}

#homepageTrendingArticleContent {
  padding: 0px 5px 2px 5px;

}



/************************ Appointment Nav ***************************/
#AppointmentNav {
  height: 61px;
  width: 100%;
  max-width: 500px;
  background-color: #EFEFEF;
  border-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 7px;

}

#activeAppointmentNavBtn {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: #0390A3;
  border: 0px;
  color: white;
}

#appointmentNavBtn {
  width: 30%;
  height: 100%;
  border-radius: 20px;
  background-color: #E6E6E6;
  border: 0px;
  color: black;
}

#AppointmentPage {
  padding: 10px 3vw 10px 3vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding-bottom: 100px;
}

#appointments {
  padding: 1% 2% 1% 2%;
  width: 100%;
  max-width: 500px;
  height: 242px;
  margin-bottom: 10px;
  margin-top: 10px;
  background-color: #FAFAFA;
  border-radius: 5%;
  box-shadow: 0px 5px 5px #dfdede;
  flex-shrink: 0;
}




/************************* specialist page **********************/
#SpecialistPage {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 30px;
}





/*************** media query *****************/
@media (max-width :500px) {
  #onlg {
    display: none;
  }

  #onSm {
    display: block;
  }

}